/* RESET */
:root{

}
.bg-black{
    background-color: black;
}
.btn-danger{
    background-color: #CD3D10;
}
.btn-ps-plus{
    background-color: #D9DADD;
}
h2{font-size: 2.5rem;}
h3{font-size: 2.0rem;}
h4{font-size: 1.3rem;}
h5{font-size: 0.9rem;}
p{font-size: 0.9rem;}
.small-text{font-size: 0.9rem;}

.bar-button{
    color: #737373;
    font-size: 20px;
}
section.returnal{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* CARD GAMES */
.br-card{
    border-radius: 15px;
}

.after-card::after{
    content: '';
    width: calc(100% + -16px);
    height: calc(100% + 8px);
    top: -4px;
    left: 8px;
    border: 2px solid #0072CE;
    position: absolute;
    border-radius: 20px;
}
/*************************************/
/* TEXT SECTION */
.ps-color{
    color: #0072CE;
}
.text-section-gray{
    color: #747474;
}
.text-section-container {padding: 40px 0;}
.text-section-tittle{margin-bottom: 20px;}

/*************************************/

/* CARD */
.border-bottom-ps-color{
    border-bottom: 2pxs solid #0072CE;
}
.section-text{
    padding-top: 230px; 
    padding-bottom: 50px;
}
.after-card-products::after{
    content: '';
    width: 96%;
    height: 100%;
    bottom: 0;
    left: 4px;
    border-bottom: 2px solid #0072CE;
    position: absolute;
}
.my-opacity{
    opacity: 0.6;
}

.card-tittle{
    font-size: 12px;
}
section.it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.it-takes-two-padding{
    padding-top: 50px;
    padding-bottom: 20px;
}
section.ps-plus-bg{
    background-color: #BEBCBC;
}

section.ps-now-bg{
    background-color: #161C3B;
    color: white;
}

footer.footer-bg {
    background-color: #00439C;
}

/* Footer */
footer div ul {
    list-style: none;
    color: white;
}
.globe-style{
    max-height: 30px;
    padding-right: 20px;

}

/* BUTTON */
.rounded-pill{
    font-size: 12px;
}

/* tag a no style */
nav a{
    text-decoration: none;
    color: black;
}

.btn-nav{
    background-color:#363636;
    color: white;
}

main{
    margin-top: 75px;
}