:root{
    /* bg-dark to black */
}

section.returnal{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-text{
    padding-top: 230px; 
    padding-bottom: 50px;
}
p{
    font-size: 14px !important;
}
.buy-button{
    background-color: red;
    border-radius: 20px;
    color: white;
    padding: 5px;
    font-size: 10px;
}

section.it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.ps-plus-bg{
    background-color: #BEBCBC;
}

section.ps-now-bg{
    background-color: #161C3B;
    color: white;
}

footer.footer-bg {
    background-color: #00439C;
}
/* 
h2: 2.5rem
h3: 2.3rem
h4: 1.3rem
h5 / small / footer: 0.9rem
*/